{% extends "layout.html.twig" %}
{% set connectionMenu = true %}

{% block title %}Profil{% endblock %}

{% block content %}
    <table>
        <tr>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Ville</th>
            <th>Type</th>
        </tr>
    </table>
{% endblock %}